#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --enabled --service=ssh
# Install OS instead of upgrade
install
# Use network installation
url --url=http://10.0.2.2:9001/centos
# Root password
rootpw --plaintext oracleroot
# System authorization information
auth  --useshadow  --enablemd5
# Use text mode install
text
# System keyboard
keyboard us
# System language
lang en_US.UTF-8
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot --eject
# System timezone
timezone  America/New_York
# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all --initlabel
autopart

network --bootproto=dhcp

zerombr

firstboot --disabled

repo --name=epel --baseurl=http://download.fedoraproject.org/pub/epel/6/x86_64/
repo --name=updates --baseurl=http://mirror.cogentco.com/pub/linux/centos/6/updates/x86_64/
#repo --name=epel --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-6&arch=x86_64
#repo --name=epel --baseurl=http://192.168.0.150:8080/epel/6/x86_64/
#repo --name=updates --baseurl=http://mirror.rit.edu/centos/6.4/updates/x86_64/
#repo --name=updates --baseurl=http://192.168.0.150:8080/centos/6.4/updates/x86_64/
#repo --name=puppetlabs --baseurl=http://yum.puppetlabs.com/el/6/products/x86_64/
#repo --name=puppetdeps --baseurl=http://yum.puppetlabs.com/el/6/dependencies/x86_64/

%packages --excludedocs --nobase --ignoremissing
@core
gcc
redhat-lsb-core
kernel-firmware
kernel-devel
kernel-headers
openssh-clients
dkms
make
sudo
wget
#bzip2
#binutils
#-ipw2100-firmware
#-ipw2200-firmware
#-ivtv-firmware
#man
#curl
# These are not needed for a super bare-bones box. Oh well.
#yum-presto
#htop
#vim-enhanced
#nfs-utils
%end

%post
# The installer apparently does not respect 'selinux' in a kickstart. Instead, we sed that shit.
#/bin/sed -i -e 's/\(^SELINUX=\)enforcing$/\1disabled/' /etc/selinux/config

# Add vagrant user and give it passwordless, tty-less sudo.
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo "vagrant"|passwd --stdin vagrant
cat > /etc/sudoers.d/vagrant << EOM
Defaults:vagrant !requiretty
vagrant        ALL=(ALL)       NOPASSWD: ALL
EOM
chmod 0440 /etc/sudoers.d/vagrant
