#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --enabled --ssh
# Install OS instead of upgrade
install
# Use network installation
url --url="http://10.0.2.2:9001/oracle"
# Root password
rootpw --plaintext oracleroot
# System authorization information
auth  --passalgo=sha512
# Use text mode install
text
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  America/New_York
# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all --initlabel
autopart

network --bootproto=dhcp
zerombr
firstboot --disabled

%packages
@core
gcc
redhat-lsb-core
sudo
wget
make
openssh-clients
%end

%post

cd /etc/yum.repos.d && wget http://public-yum.oracle.com/public-yum-ol6.repo

yum -y install dkms kernel-uek-devel

# The installer apparently does not respect 'selinux' in a kickstart. Instead, we sed that shit.
#/bin/sed -i -e 's/\(^SELINUX=\)enforcing$/\1disabled/' /etc/selinux/config

# Add vagrant user and give it passwordless, tty-less sudo.
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo "vagrant"|passwd --stdin vagrant
cat > /etc/sudoers.d/vagrant << EOM
Defaults:vagrant !requiretty
vagrant        ALL=(ALL)       NOPASSWD: ALL
EOM
chmod 0440 /etc/sudoers.d/vagrant


